*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    /* height: 400px; */
    display: flex;
    /* flex-direction: column; */
    background-color: #f4f4f4;

    /* 
    always on the main axis
    justify-content: start;
    always on the cross axis
    align-items: start;
    */

    /* flex-wrap: wrap; */
}

.item{
    flex: 1; /* shortcut to having the boxes take up the entire space evenly */
    height: 100px;
    background: #254de4;
    color: #fff;
    margin: 10px;

    /* CENTERING A DIV :D */
    display: flex; /*creates a flex container */
    justify-content: center;
    align-items: center;
}

.item:nth-of-type(1){
    /* align-self: start; */

    /* order: 2; */

    /* flex-grow: 1; */
    /* flex-basis: 200px; ensures that the item won't be smaller than 200px since the grow factor is 1 */

    /* flex-shrink: 1; */
}

.item:nth-of-type(2){
    /* align-self: center; */

    /* order: 1; */

    /* flex-grow: 2; */

    /* flex-shrink: 2; */
}

.item:nth-of-type(3){
    /* align-self: end; */

    /* order: 3; */

    /* flex-grow: 1; */

    /* flex-shrink: 3; */
} 
